<!-- navigation -->
<div class="container">
    <nav id="navbar" class="bg-transparent py-3">
        <!-- row -->
        <div class="row ps-md-5">
            <div class="col-12">
                <form action="/users/logout" method="post" class="float-start ps-4 pt-1 me-1">
                    <button class="p-0 btn btn-outline-info btn-block"><i class="fa-solid fa-right-from-bracket"></i></button>
                </form>
                <h5 class="float-start ps-1 pt-1 mb-0 text-light fs-6">
                    Bienvenue <span class="badge bg-dark p-1 px-2 pb-2 text-info" id="username"><%= user %></span>

                        <span class="font-weight-light" id="free-game"><% if (flag) { %>| 1 jeu gratuit <% }  %></span>

                    <span class="font-weight-light" id="game-number">| Jeux achetés : <%= gamesNbr  %></span>
                </h5>
            </div>
        </div>
        <!-- row -->
        <div class="row ps-md-5">
            <!-- link -->
            <div class="col-12 col-md-5">
                <div class="p-4">
                    <ul class="nav d-flex justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link <%= action === 'game' ? 'active' : '' %> text-black" href="/game">
                                <i class="fa-solid fa-home"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= action === 'shop' ? 'active' : '' %> text-black" href="/shop">
                                <i class="fa-solid fa-shopping-cart"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= action === 'trophy' ? 'active' : '' %> text-black" href="/trophy">
                                <i class="fa-solid fa-trophy"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- stats -->
            <div class="col-12 offset-md-1 col-md-6">
                <div class="d-flex justify-content-around flex-row">
                    <div class="d-flex ps-md-5 pe-md-5 w-100 align-items-start flex-column">
                        <div class="mb-2 p-1 p-md-2 w-100 bg-light">
                            <div class="fw-bold fs-6">Lives: <span class="live-text"><%= lives %></span></div>
                        </div>
                        <div class="mb-2 p-1 p-md-2 w-100 bg-light">
                            <div class="fw-bold fs-6">Score: <span class="score-text"></span></div>
                        </div>
                    </div>
                    <div class="d-flex ps-md-5 pe-md-5 w-100 align-items-start flex-column">
                        <div class="mb-2 p-1 p-md-2 w-100 bg-light">
                            <div class="fw-bold fs-6">Level: <span class="level-text"><%= level %></span></div>
                        </div>
                        <div class=" mb-2 p-1 p-md-2 w-100 bg-light">
                            <div class="fw-bold fs-6">Time: <span class="timer-text"></span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</div>
