<div class="clearfix"></div>
<div class="container mt-5">
    <div class="row my-5">
        <div class="col-md-4 m-auto">
            <div class="card card-body text-bg-dark mb-5">
                <h2 class="text-center mb-3"><i class="fa-solid fa-file-pen"></i> S'inscrire</h2>
                <%- include ('messages') %>
                <form action="/users/register" method="post">
                    <div>
                        <label for="username" class="form-label">Pseudo</label>
                        <input class="form-control"
                               id="username"
                               name="username"
                               type="name"
                               autocomplete="username"
                               value="<%= typeof name != 'undefined' ? surname : '' %>"
                               required>
                    </div>
                    <div>
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control"
                               id="email"
                               name="email"
                               type="mail"
                               autocomplete="email"
                               value="<%= typeof email != 'undefined' ? email : '' %>"
                               required/>
                    </div>
                    <div>
                        <label for="password" class="form-label">Mot de passe</label>
                        <input class="form-control"
                               id="password"
                               name="password"
                               type="password"
                               autocomplete="password"
                               value="<%= typeof password != 'undefined' ? password : '' %>"
                               required/>
                    </div>
                    <div>
                        <label for="passwordCfm" class="form-label">Confirmer le mot de pass</label>
                        <input class="form-control"
                               id="passwordCfm"
                               name="passwordCfm"
                               type="password"
                               value="<%= typeof password2 != 'undefined' ? passwordCfm : '' %>"
                               required/>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary form-control mt-3 ">S'inscrire</button>
                </form>
                <p class="mt-4">Vous avez déjà un compte? <a class="link-light" href="/users/login">Se connecter</a></p>
            </div>
        </div>
    </div>
</div>
    
